<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <ion-card *ngIf="dish">
    <img src="{{BaseURL + dish.image}}" alt="">
 <ion-card-content>
   <ion-card-title>{{dish.name}}</ion-card-title>
   <p>{{dish.description}}</p>
 </ion-card-content>

 </ion-card>
 <div [hidden]="dish || dishErrMess">
   <ion-spinner></ion-spinner>
   <h4>loading..please wait</h4>
 </div>
 <div *ngIf ="dishErrMess">
   <h4>Erro</h4>
   <p>{{dishErrMess}}</p>

 </div>

 <ion-card *ngIf="leader">
    <img src="{{BaseURL + leader.image}}" alt="">
 <ion-card-content>
   <ion-card-title>{{leader.name}}</ion-card-title>
   <p>{{leader.description}}</p>
 </ion-card-content>

 </ion-card>
 <div [hidden]="leader || leaderErrMess">
   <ion-spinner></ion-spinner>
   <h4>loading..please wait</h4>
 </div>
 <div *ngIf ="leaderErrMess">
   <h4>Erro</h4>
   <p>{{leaderErrMess}}</p>

 </div>

 <ion-card *ngIf="promotion">
    <img src="{{BaseURL + promotion.image}}" alt="">
 <ion-card-content>
   <ion-card-title>{{promotion.name}}</ion-card-title>
   <p>{{promotion.description}}</p>
 </ion-card-content>

 </ion-card>
 <div [hidden]="promotion || promotionErrMess">
   <ion-spinner></ion-spinner>
   <h4>loading..please wait</h4>
 </div>
 <div *ngIf ="promotionErrMess">
   <h4>Erro</h4>
   <p>{{promotionErrMess}}</p>

 </div>
</ion-content>
